# Python
__pycache__/
*.py[cod]
*.env
venv/
.env
*.egg-info/
dist/

# Node / React
node_modules/
dist/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project specific
*.pdf
uploads/
Screenshot_of_page.png
plans/
sample_files/